h1 {
    color: #ea5454;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

p {
    color: #30a56e;
    font-size: 1.2em;
    line-height: 1.5;
    margin: 20px 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    background-color: #8fd9e9;
}