h1 {
color: antiquewhite;
text-align: center;
}

a[href^="https"] { color: green; /* Links que comienzan con "https" */
}

li:nth-child(1) { color: blue; /* Segundo elemento de una lista */ }


h1 + p { color: rgb(111, 92, 186); /* Primer párrafo después de un título h1 */ }

p::first-letter { font-size: 2em; /* Primera letra en estilo destacado */ }

/* Estilo general (para todos los tamaños)
*/
body {
 font-family: Arial, sans-serif;
 margin: 10px;
 background-color: rgb(184, 223, 232);
}

/* Pantallas pequeñas (teléfonos) */
@media (max-width: 600px) {
 body {
 background-color: lightblue;
 font-size: 12px;
 }
}
/* Pantallas medianas (tabletas) */
@media (min-width: 601px) and (max-width: 1024px) {
 body {
 background-color: lightgreen;
 font-size: 16px;
 }
}
/* Pantallas grandes (escritorios) */
@media (min-width: 1025px) {
 body {
 background-color: lightyellow;
 font-size: 18px;
 }
}

/* Estilo base para un botón */
button {
 background: linear-gradient(to right, #4caf50, #8bc34a); /* Gradiente */
 border: none;
 border-radius: 12px; /* Bordes redondeados */
 box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3); /* Sombra */
 color: white;
 padding: 10px 20px;
 font-size: 16px;
 cursor: pointer;
 transition: transform 0.3s, box-shadow 0.3s; /* Transiciones animadas */
}

/* Efecto al pasar el cursor (hover) */
button:hover {
 transform: scale(1.5); /* Aumenta el tamaño */
 box-shadow: 4px 6px 15px rgba(0, 0, 0, 0.5); /* Sombra más intensa */
}

.container {
 display: flex; /* Activa Flexbox */
 justify-content: space-around; /* Espacio uniforme entre elementos */
 align-items: center; /* Centra verticalmente los elementos */
 height: 200px;
 background-color: lightgray;
}

.item {
 background-color: #4caf50;
 color: white;
 padding: 20px;
 text-align: center;
 border-radius: 5px;
}

#titulo2 {
    color: #8bc34a;
}

.grid-container {
 display: grid; /* Activa Grid Layout */
 grid-template-columns: repeat(3, 1fr); /* Tres columnas de igual ancho */
 gap: 10px; /* Espacio entre los elementos */
 background-color: rgb(228, 121, 50);
 padding: 10px;
}
.grid-item {
 background-color: #2196f3;
 color: white;
 padding: 20px;
 text-align: left;
 border-radius: 5px;
}