{% extends "base.html" %}

{% block content %}
<h3> Registrar Productos</h3>

<form method="POST">
     {{ form.hidden_tag() }}

     <div class="mb-3">
        {{form.nombre.label}}
        {{form.nombre(class="Producto")}}

        {% for e in form.nombre %}
        <div>{{e}}</div>
        {% endfor %}
     </div>
     <div class="mb-3">
        {{form.precio.label}}
        {{form.precio(class="Producto")}}

        {% for e in form.precio %}
        <div>{{e}}</div>
        {% endfor %}
     </div>


</form>

{% endblock %}