{% extends "base.html" %}

{% block content %}

<h3> Producto</h3>

<form method="POST">

    {{ form.hidden_tag() }}

    <div class="mb-3">

        {{ form.nombre.label }}

        {{ form.nombre(class="form-control") }}

        {% for e in form.nombre.errors %}

            <div class="text-danger">
                {{ e }}
            </div>

        {% endfor %}

    </div>


    <div class="mb-3">

        {{ form.precio.label }}

        {{ form.precio(class="form-control") }}

        {% for e in form.precio.errors %}

            <div class="text-danger">
                {{ e }}
            </div>

        {% endfor %}

    </div>


    {{ form.submit(class="btn btn-primary") }}

</form>

{% endblock %}